/* Reset some basic elements for consistency */
body, h1, h2, label, input, button, select {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Body styles */
body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}


/* Main heading styles */
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #C81D25; /* Red color */
}

/* Subheading styles */
h2 {
    margin: 20px 0 10px;
    font-size: 1.8em;
    color: #0033A0; /* Blue color */
    text-align: center;
}

/* Label and input styles */
label {
    font-weight: bold;
    margin-right: 10px;
}

/* Input styles */
input[type="number"], select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

/* Button styles */
button {
    background-color: #343434; /* Black color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #C81D25; /* Red color */
}

/* Chart canvas styles */
canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Modal styles */
#dataModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

#modalContent {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #C81D25; /* Red color */
    text-decoration: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    input[type="number"], select {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}
